services:
  backend:
    container_name: backend_url_shortener
    build: ./backend/
    ports:
      - 3000:3000
    volumes:
      - ./backend/app:/app:rw
      - /app/node_modules
    restart: unless-stopped

  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - "5432:5432"
    restart: unless-stopped
